$black-light: #212121;
$black-weak: #393939;
$black-bg: #555;

$red: #ff0000;
$bitter: #fc6e51;
$mint: #48CFAD;
$aqua: #00dcff;
$lavender: #AC92EC;
$orange: #f5b058;
$orange-light: #ff9b1c;
$yellow: #fffb54;
$yellow-light: #fefff6;
$green: #78d76c;
$green-light: #6cce5f;
$gnb-bg: #0d202f;
$blue: #49a4ff;
$blue-strong: #1ea3e0;
$blue-light: #f7fcff;

// Light
$main-bg: #f5f7fa; // #edf2f7 #F8FAFD

$input-line: #e7e7e7;
$gray-text: #a0a7b2;
$gray-bg: #f3f7f9; // #f7fafc
$gray-line: #eee;
$gray-line-strong: #e6e9ee;
$gray-light: #ccc;
$gray-box: #fafbfc;

$light-dark-color: #3d4950;
$light-dark-line: #565e63;

$hover-color: #e4e7ea;

$point-color: #ed287b;
$point-color-light: #fffafc;


// Dark
$dark-main-bg: #122535;
$dark-main-text: #fff;
$dark-text: #949eaa;
$dark-common-bg: #1c3142;

$dark-blue: #51a8ff;
$dark-point-dark: #51c0f3;

$dark-line: #253648;
$dark-line-light: #364250;
$dark-line-strong: #11232f;

$dark-input-bg: #253a4c;
$dark-input-border: #3f4a58;

$dark-table-row-color: #2c3e50;
$dark-table-odd-color: #314456;

$dark-modal-header-color: #0c1d2b;

$dark-route-color: #182a37;
$dark-timeline-before-color: #435a6d;

$dark-box: #2c3e50; //#314152 #263a4c #1c3142 #21394c
$dark-hover-color: #173040;
$dark-box-hover: #233c4e;
$dark-icon-box: #3a4e62;




